* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Playfair Display', 'Inter', sans-serif, serif;
}

@media (min-width: 768px) {
  
  html {
    font-size: 18px;
  }

}

@media (min-width: 1200px) {

  html {
    font-size: 20px;
  }

}

@media (min-width: 1600px) {
  
  html {
    font-size: 22px;
  }

}

:root {
  --color-bg: #1f3727;
  --color-surface: #2e563a;
  --color-border: #408252;
  --color-accent: #58bb6c;
  --color-highlight: #79db76;
  --color-text-1: #f6faf5;
  --color-text-2: #d8eed8;
  --color-text-3: #c1e1c4;
  --color-text-muted: #9acb9d;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-2);
  font-family: 'Playfair Display', 'Inter', sans-serif, serif;
  min-height: 100vh;
}
